# Consider all .dart files as Dart
*.dart linguist-language=Dart

# Ignore build files and directories from language detection
build/* linguist-vendored
android/** linguist-vendored
ios/** linguist-vendored
macos/** linguist-vendored
windows/** linguist-vendored
linux/** linguist-vendored

# Ignore generated and temporary files
*.log linguist-vendored
*.tmp linguist-vendored
*.swp linguist-vendored
