# Flutter build files
build/
.dar_tool/
.packages

# Android specific files
android/.gradle/
android/app/build/

# iOS specific files
ios/Pods/
ios/build/
ios/Flutter/Flutter.framework

# Web specific files
web/.dart_tool/
web/.packages

# macOS, Windows, Linux build files
macos/build/
windows/build/
linux/build/

# Other temporary files
*.log
*.tmp
*.swp